<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderTool"
        tools:targetApi="31">

        <activity android:name="com.example.Main.Activity_Main"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TODO: Make back button for each activity -->

        <activity android:name="com.example.Main.Activity_Teck"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Lumex"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_BX"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Bare"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Brown18"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_NMWU"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Cat"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Sol_Str"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Tool"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Lighting"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Breaker"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Panel"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_PVC_Pipe"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_EMT_Pipe"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Switch"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Transformer"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_Fuse"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_HVAC"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_PVC_Part"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.Main.Activity_EMT_Part"
            android:screenOrientation="landscape"/>




    </application>
</manifest>